<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>responseandrequest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loc1Servlet</display-name>
    <servlet-name>Loc1Servlet</servlet-name>
    <servlet-class>com.itcast.a_response.a_location.Loc1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc1Servlet</servlet-name>
    <url-pattern>/loc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loc2Servlet</display-name>
    <servlet-name>Loc2Servlet</servlet-name>
    <servlet-class>com.itcast.a_response.a_location.Loc2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc2Servlet</servlet-name>
    <url-pattern>/loc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintServlet</display-name>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.itcast.a_response.b_body.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.itcast.a_response.c_download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RowServlet</display-name>
    <servlet-name>RowServlet</servlet-name>
    <servlet-class>com.itcast.b_request.d_row.RowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RowServlet</servlet-name>
    <url-pattern>/row</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Param_Servlet</display-name>
    <servlet-name>Param_Servlet</servlet-name>
    <servlet-class>com.itcast.b_request.e_param_.Param_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Param_Servlet</servlet-name>
    <url-pattern>/param_</url-pattern>
  </servlet-mapping>
</web-app>