<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindAllServlet</display-name>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>com.itcast.web.servlet.FindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.itcast.web.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductByIdServlet</display-name>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <servlet-class>com.itcast.web.servlet.GetProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <url-pattern>/getProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.itcast.web.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
</web-app>